@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind class */

.center-container {
  @apply w-[95%] container mx-auto my-10;
}
.center-container-nav {
  @apply w-[95%] container mx-auto;
}
/* Text */
.text-link {
  @apply text-[1.6rem] md:text-[1.3rem] lg:text-[1.4rem] text-[#343];
}
.text-small {
  @apply text-[1.5rem] sm:text-[1.4rem] lg:text-[1.4rem] text-[#343] leading-[1.4] text-center  md:text-justify;
}
.text-xsmall {
  @apply text-[1.3rem]  text-[#343] leading-[1.4] text-center  md:text-justify;
}
.text-base {
  @apply text-[1.6rem] sm:text-[1.8rem] md:text-[1.6rem] leading-[143%] text-center  md:text-justify text-[#343];
}
.info-text {
  @apply text-[2.2rem] md:text-[3rem]  text-[#fff];
}
/* Header */
.heading-primary {
  @apply text-[2.8rem] sm:text-[3.4rem]  leading-[3.4rem]  lg:text-[3.8rem] xl:text-[4.2rem] 2xl:text-[4.8rem] lg:leading-[4.9rem]  font-[700] mb-[1.5rem] md:mb-[2.5rem] text-center md:text-start;
}
.heading-secondary {
  @apply text-2xl font-semibold mb-[0.4rem];
}
.heading-tertiary {
  @apply font-semibold text-[1rem] md:text-[1rem] lg:text-[1rem];
}
.heading-four {
  @apply font-semibold text-[1.6rem] lg:text-[0.9rem] leading-[1.2] text-center md:text-start;
}
.heading-five {
  @apply font-medium text-sm md:text-base;
}

.img_uploader {
  background: url("/images/add-photo.png") no-repeat #fff;
  background-size: cover;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 120px;
  overflow: hidden;
  padding: 231px 0 0;
  width: 240px;
}
